
%h1 LightHouse
%form{:action => "/#{id}", :method => "POST"}
  %p
    Edit your Idea:
  %input{:name => "_method", :type => "hidden", :value => "PUT"}/
  %input{:name => "thought[title]", :type => "text", :value => "#{thought.title}"}/
  %br/
  %textarea{:name => "thought[description]"}= thought.description
  %br/
  %input{:type => "submit"}/
